.choice-main-adjustments {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border:  0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #58646d;
}

.choice-main-adjustments:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(86, 185, 235, 0.5);
  transform: translate(0.1rem);
  transition: transform 150ms;  
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(48, 53, 59);
    color: #56a5eb;
}

.choice-text {
    padding: 1.5rem;
}

h2 {
    font-size: 4rem;
    color: #dbe2e8;
    background-color: rgb(48, 53, 59);
    margin-bottom: 5rem;
    border: 0.1rem solid #56a5eb;
    padding: 4rem;
    width: 60rem;
    text-align: center;
    border-radius: 1rem;
    
}

.jusify-center {
    justify-content: center;
    align-items: center;
}
#progress-bar-full {
    height: 3.4rem; width: 0%;
    background-color: rgb(48, 53, 59);
  }
#progress-bar {
    width: 30rem; height: 4rem;
    border: 0.3rem solid rgba(86, 185, 235, 0.5);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }