body {

    background-color: rgb(133, 182, 245);


}



h1{
    color: rgb(0, 0, 0);

}



p {
    color: rgb(0, 0, 0);


}



.Login

{ 
    margin-top: 170px;
    align-content: center;
    padding: 10px;
    width: 250px; height: 320;

    background-color:rgb(218, 218, 218);

   

}





.button1{

    border-radius: 20px;

    border: none;

    text-align: center;

    cursor: pointer;

    background-color: #4c74af;

    color: white;

    padding: 16px;

    font-size: 16px;

    

}